/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/*
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Từ tổng quan đến chi tiết
*/

/*
1.Vị trí
2.Kích thước (width, height)
3.Màu sắc 
4.Kiểu dáng (Kiểu chữ, hình dáng )
*/

/* Common */

.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-half {
  width: 50%;
}

.col-full {
  width: 100%;
}


.col-third {
  width: calc(100%/3);
}

.mt-8 {
  margin-top: 8px !important; 
}

.mt-16 {
  margin-top: 16px !important;
}

#main {
  height: 2000px;
}

#nav {
  display: inline-block;
}

#header {
  width: 100%;
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 1;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav .subnav {
  display: none;
  /* display: block; */
  top: 100%;
  position: absolute;
  background-color: #fff;
  list-style-type: none;
  min-width: 160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 16px;
}

#nav li a {
  text-decoration: none; /*gạch chân của thẻ ul li*/
  line-height: 46px; /*căn giữa*/
  padding: 0 24px;
  display: block;
  /* width: 100%; */
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .nav-arrow-down {
  display: inline-block;
  font-size: 16px;
}

#header .search-btn {
  color: #fff;
  float: right;
  padding: 0 21px;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .search-icon {
  font-size: 20px;
  line-height: 46px;
}

#slider {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 46px;
  padding-top: 50%;
  background: url(../img/slider/img1.jpg) top center / cover no-repeat;
}

.slider-1 {
  display: none;
}

.slider-2 {
  display: none;
}


#slider .text-content {
  position: absolute;
  bottom: 48px;
  color: #fff;
  left: 0;
  right: 0;
  text-align: center;
}

#slider .text-head {
  margin-bottom: 25px;
  font-weight: 600px;
  font-size: 24px;
}

#slider .text-description {
  margin-bottom: 15px;
}

#content {
  align-items: center;
  max-width: 100%;
}

#content .content-section {
  width: 800px;
  padding: 128px 0 112px;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading {
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  font-size: 15px;
  margin: 15px 0;
  text-align: center;
  opacity: 0.6;
}

#content .about-text {
  margin: 15px 0;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}

#content .member-list {
  padding: 32px 0;
}


#content .member-name {
  font-size: 15px;
}

#content .member-img {
  width: 154px;
  margin-top: 15px;
  border-radius: 4px;
}

/* Tour section */
#content .tour-section {
  background-color: #000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 40px;
  list-style: none;
}

.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantily {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin: -3px;
}

/* Place */

.place-list {
  margin-top: 32px;
}


.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  background-color: #fff;
  font-size:15px;
  padding: 16px;
}

.place-heading {
  font-size:15px;
  font-weight: 550;
}

.place-time {
  margin-top: 15px;
  color: #757575;
}

.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

.place-buy-btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  margin-top: 15px;
  padding: 11px 16px;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 15px;
}

.place-buy-btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

/* Contact form */
.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
  line-height: 1.4;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  outline: none;
}

.contact-form .form-submit-btn {
  font-size: 15px;
  background-color: #000;
  color: #fff;
  border: 1px solid #ccc;
  padding: 10px 16px;
  float: right;
  
}

.contact-form .form-submit-btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}


/* Footer section */
#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .social-icons a {
  text-decoration: none;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  padding: 6px;
}

#footer .copyright a:hover,
#footer .social-icons a:hover {
  opacity: 0.7;
}

#footer .copyright {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  padding: 15px 0;
}

#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  animation: modalFaceIn ease 0.6s;
}

.modal-container .modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 16px;
  cursor: pointer;
}

.modal-container .modal-close:hover {
  background-color: rgb(214, 79, 79);
}

.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-header i {
  padding-right: 16px;
}


.modal-body {
  padding: 0 16px;
}

.modal-body .modal-label p {
  margin: 15px 0;
}

.modal-body .mo dal-label i {
  padding: 5px;
  margin-bottom: 12px;
}

.modal-body .modal-input {
  width: 100%;
  padding: 11px;
  font-size: 15px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
}

.modal-body #buy-tickets {
  width: 100%;
  padding: 17px;
  border: 1px solid #ccc;
  background-color: #009688;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.modal-body #buy-tickets:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.modal-help {
  padding: 32px 16px 16px 16px;
  text-align: right;
}

.modal-footer .modal-help a {
  color: #2196F3;
}

.open {
  display: flex;
}


@keyframes modalFaceIn {
  from {
    transform: translateY(-160px);
  }
  to {
    transform: translateY(0);
  }
}




